<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dqy.helpeachothers.mapper.RateByHelpInfoMapper" >
    <sql id="tableName">ratebyhelpinfo</sql>
    <sql id="columnsName">id,userid,helperid,helpinfoid,adcode,serverate,ontimerate,mannerrate,politerate,clotherate,createtime</sql>
    <select id="select" resultType="com.dqy.helpeachothers.entity.RateByHelpInfo">
        select * from <include refid="tableName"></include> order by serverate desc,ontimerate desc,mannerrate desc ,politerate desc ,clotherate desc,createtime desc
    </select>
    <select id="selectById" resultType="com.dqy.helpeachothers.entity.RateByHelpInfo">
        select * from <include refid="tableName"></include> where id =  ${id}
    </select>
    <select id="selectByUserId" resultType="com.dqy.helpeachothers.entity.RateByHelpInfo">
        select * from <include refid="tableName"></include> where userid =  ${userid}
    </select>
    <select id="selectByHelperId" resultType="com.dqy.helpeachothers.entity.RateByHelpInfo">
        select * from <include refid="tableName"></include> where helperid =  ${helperid}
    </select>
    <select id="selectByHelpInfoId" resultType="com.dqy.helpeachothers.entity.RateByHelpInfo">
        select * from <include refid="tableName"></include> where helpinfoid =  ${helpinfoid} and adcode = #{adcode}
    </select>
    <insert id="insert">
        insert into <include refid="tableName"></include>(  <include refid="columnsName"></include>  )
        values
        (null,${rateByHelpInfo.userid},${rateByHelpInfo.helperid},${rateByHelpInfo.helpinfoid},#{rateByHelpInfo.adcode},${rateByHelpInfo.serverate},${rateByHelpInfo.ontimerate},${rateByHelpInfo.mannerrate},${rateByHelpInfo.politerate},${rateByHelpInfo.clotherate},null)
    </insert>
</mapper>
